<nav id="nav-desktop" class="nav-desktop">
  <ul>
    <li class="li">
      <a href="/about.html" class="link link--active"
        ><i class="fas fa-home icon"></i>Accueil</a
      >
    </li>
    <li class="li">
      <a href="#profil" class="link"><i class="fas fa-user icon"></i>Profil</a>
    </li>
    <li class="li">
      <a href="#portfolio" class="link"
        ><i class="fas fa-briefcase icon"></i>Portfolio</a
      >
    </li>
    <li class="li">
      <a href="#CV" class="link"><i class="fas fa-book-open icon"></i>CV</a>
    </li>
    <li class="li">
      <a href="#Contact" class="link"
        ><i class="fas fa-phone icon"></i>Contact</a
      >
    </li>
    <li class="li">
      <a href="#Activité" class="link"
        ><i class="fas fa-tasks icon"></i>Activité Récente</a
      >
    </li>
    <!-- Langue, Anglais, Francais, Indonésien -->
    <li class="li">
      <a href="#langue" class="link"
        ><img src="./public/image/Drapeau/France.png" alt="France" />Version
        Française</a
      >
    </li>
    <span class="darkmode">
      <span id="darkmode-Text-pc"
        ><i class="far fa-lightbulb claire"></i>Mode claire</span
      >
      <input
        type="checkbox"
        name="darkmode-pc"
        class="toggle"
        id="darkmode-pc"
      />
      <label for="darkmode-pc" class="toggleBtn"></label>
    </span>
  </ul>
</nav>
