@import "../../styles.scss";

.hamburger {
  display: none;
  @include media("dekstop") {
    display: block;
    padding: 0 0 15px 0;
    .hamburger-toggle {
      z-index: 99;

      @include hamburgerBtnFalse;
    }
    .opened {
      @include hamburgerBtnTrue;
    }
  }
}
